<% layout('layouts/boilerplate') %>

<div class="card mb-3">
    <img class="img-fluid" style="max-height: 600px;" src="<%= campground.image %> " class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= campground.title %> </h5>
        <p class="card-text"><%= campground.description %> </p>
        <p class="card-text fst-italic fw-bold">$<%= campground.price %>/night</p>
        <p class="card-text"><small class="text-muted"><%= campground.location %> </small></p>
        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-warning">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger">Delete</button>
        </form>
        <a href="/campgrounds" class="card-link btn btn-secondary">All Campgrounds</a>
    </div>
</div>